.intro_txt {
  grid-row: 2/3;
  grid-column: 2/3;
  align-self: center;
  justify-self: center;
  overflow: hidden;

  p:nth-child(1) {
    color: #ffffff;
    font-size: 4.5rem;
    font-weight: 100;
    opacity: 0;

    span {
      color: hsl(233, 14%, 20%);
      font-weight: 700;
    }
  }

  p:nth-child(2) {
    display: flex;
    justify-content: flex-end;
    font-size: 1.5rem;
    font-weight: 500;
    font-style: italic;
    color: #fff;
    opacity: 0;
    margin-right: 1rem;

    span {
      margin: 0px 9px;
    }
  }

  .underline {
    float: right;
    position: relative;
    width: 0px;
    height: 2.75px;
    margin-right: 1rem;
    transform: translateX(-10px);
    background: hsl(233, 14%, 20%);
  }
}

.slideIn {
  animation: slideIn 650ms ease 850ms forwards;
}

.slideOut {
  animation: slideOut 650ms ease forwards;
}

.slideLeft {
  animation: slideLeft 650ms ease 1150ms forwards;
}

.fullWidth {
  animation: fullWidth 600ms ease 1650ms both;
}

.zeroWidth {
  animation: zeroWidth 400ms ease both;
}

.colorChange {
  animation: colorChange 300ms ease 2000ms forwards;
}

@keyframes slideIn {
  from {
    transform: translateY(150px);
    opacity: 0;
  }

  to {
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes slideOut {
  from {
    transform: translateY(0px);
    opacity: 1;
  }

  to {
    transform: translateY(150px);
    opacity: 0;
  }
}

@keyframes slideLeft {
  from {
    transform: translateX(150px);
    opacity: 0;
  }

  to {
    transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes fullWidth {
  from {
    width: 0px;
  }

  to {
    width: 222px;
  }
}

@keyframes zeroWidth {
  from {
    width: 222px;
  }

  to {
    width: 0;
  }
}

@keyframes colorChange {
  from {
    color: #fff;
  }

  to {
    color: hsl(233, 14%, 20%);
  }
}
